.featuredItem {
    background-image: url('../../../assets/assets/home/featured.jpg');
    
}

.featured-overlay{
    background-color: rgba(0, 0, 0, 0.568);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}